In [1]:
import pandas as pd
import numpy as np
from numpy import array
from numpy import mean
from numpy import std
import tensorflow as tf
from tensorflow import keras
from keras import optimizers
from keras.models import Sequential
from keras import callbacks
from tensorflow.keras.utils import plot_model
from tensorflow.keras.layers import LSTM, Dense, Dropout, TimeDistributed, Conv1D, MaxPooling1D, Flatten, Bidirectional, Input, Flatten, Activation, Reshape, RepeatVector, Concatenate
from tensorflow.keras.models import Model
import matplotlib.pyplot as plt

In [2]:
val_metrics = np.load("val_metric_dict_1.npy", allow_pickle=True)

In [3]:
indexes=[]
for j in range(1, 6):
    for i in range(1,11):
        indexes.append('month '+str(j)+' lookahead ' + str(i))

In [4]:
val_df = pd.DataFrame(val_metrics.reshape(val_metrics.shape[0], val_metrics.shape[2]), columns = ['RMSE', 'MSE', 'MAE', 'MAPE', 'R2'])

In [5]:
val_df.index=indexes[:len(val_df)]

In [6]:
val_df

                           RMSE          MSE        MAE      MAPE        R2
month 1 lookahead 1   12.376245   153.171430   7.559685  0.108956  0.732118
month 1 lookahead 2   12.551234   157.533487   7.567140  0.108327  0.724490
month 1 lookahead 3   12.692354   161.095839   7.857314  0.112133  0.718379
month 1 lookahead 4   12.536113   157.154126   7.835077  0.114042  0.725270
month 1 lookahead 5   12.681144   160.811410   8.049060  0.118607  0.718877
month 1 lookahead 6   12.590872   158.530053   7.959245  0.117496  0.722865
month 1 lookahead 7   12.785877   163.478641   8.193432  0.121809  0.714347
month 1 lookahead 8   12.778948   163.301507   8.086656  0.117917  0.714657
month 1 lookahead 9   12.692485   161.099179   7.935059  0.114795  0.718505
month 1 lookahead 10  12.919996   166.926287   8.199559  0.118975  0.708444
month 2 lookahead 1   35.093058  1231.522701  18.547645  0.120633  0.705031
month 2 lookahead 2   35.045576  1228.192407  18.298331  0.117273  0.705828
month 2 lookahead 3   35.156715  1235.994610  18.245734  0.116704  0.703960
month 2 lookahead 4   34.991150  1224.380552  18.155321  0.115894  0.706741
month 2 lookahead 5   36.960151  1366.052776  19.089075  0.124010  0.672777
month 2 lookahead 6   36.882598  1360.326047  18.596859  0.118780  0.674148
month 2 lookahead 7   36.803892  1354.526488  18.905351  0.122283  0.675538
month 2 lookahead 8   38.701133  1497.777712  19.988226  0.130311  0.641307
month 2 lookahead 9   38.573786  1487.936938  19.892173  0.129689  0.643664
month 2 lookahead 10  38.083830  1450.378114  19.363129  0.124561  0.652658
month 3 lookahead 1   34.576957  1195.565960  11.727050  0.144355  0.510378
month 3 lookahead 2   34.513792  1191.201820  11.962718  0.148776  0.512165
month 3 lookahead 3   34.569080  1195.021317  12.223336  0.154580  0.510601
month 3 lookahead 4   35.680733  1273.114719  13.059239  0.163516  0.478857
month 3 lookahead 5   35.577564  1265.763031  12.937943  0.162110  0.481866
month 3 lookahead 6   35.518846  1261.588431  13.117860  0.165849  0.483575
month 3 lookahead 7   35.649967  1270.920154  12.709303  0.156620  0.479755
month 3 lookahead 8   36.134449  1305.698395  13.450291  0.169463  0.465727
month 3 lookahead 9   36.085373  1302.154122  13.056407  0.162589  0.467177
month 3 lookahead 10  35.970492  1293.876303  13.330729  0.169277  0.470565
month 4 lookahead 1    9.097789    82.769759   5.846762  0.147386  0.752545
month 4 lookahead 2    9.698981    94.070228   6.450532  0.169243  0.718760
month 4 lookahead 3    9.577744    91.733177   6.117447  0.150739  0.725747
month 4 lookahead 4    9.577562    91.729689   6.176650  0.154585  0.725829
month 4 lookahead 5    9.641995    92.968070   6.139115  0.150482  0.722127
month 4 lookahead 6    9.608177    92.317073   6.142178  0.151686  0.724073
month 4 lookahead 7    9.477601    89.824913   6.212691  0.158998  0.731612
month 4 lookahead 8    9.440444    89.121979   6.058577  0.151188  0.733712
month 4 lookahead 9    9.509796    90.436219   6.161344  0.154066  0.729786
month 4 lookahead 10   9.381752    88.017279   6.113092  0.156327  0.737143
month 5 lookahead 1   15.322737   234.786269   7.023801  0.124408  0.792481
month 5 lookahead 2   15.041826   226.256523   7.482092  0.135450  0.800020
month 5 lookahead 3   15.292547   233.861990   7.314670  0.134315  0.793298
month 5 lookahead 4   15.357817   235.862543   7.731533  0.149328  0.791581
month 5 lookahead 5   15.584488   242.876260   8.755496  0.186118  0.785383
month 5 lookahead 6   15.411760   237.522352   8.183710  0.167737  0.790114
month 5 lookahead 7   16.565274   274.408312   8.884408  0.187644  0.757520
month 5 lookahead 8   18.984969   360.429045   9.537833  0.192504  0.681594
month 5 lookahead 9   16.539077   273.541074   8.767533  0.173001  0.758352
month 5 lookahead 10  16.964314   287.787964   8.422125  0.157414  0.745766

In [80]:
val_df.groupby(np.arange(len(val_df))//10).mean()

        RMSE          MSE        MAE      MAPE        R2
0  12.660527   160.310196   7.924223  0.115306  0.719795
1  36.629189  1343.708835  18.908185  0.122014  0.678165
2  35.427725  1255.490425  12.757488  0.159714  0.486067
3   9.501184    90.298839   6.141839  0.154470  0.730133
4  16.106481   260.733233   8.210320  0.160792  0.769611

In [91]:
averaged_months= val_df.iloc[0::10,:].mean().to_frame().transpose()
for i in range(1,10):
    averaged_months = averaged_months.append((val_df.iloc[i::10,:]).mean(), ignore_index=True)

In [92]:
averaged_months

        RMSE         MSE        MAE      MAPE        R2
0  21.293357  579.563224  10.140989  0.129148  0.698510
1  21.370282  579.450893  10.352163  0.135814  0.692253
2  21.457688  583.541387  10.351700  0.133694  0.690397
3  21.628675  596.448326  10.591564  0.139473  0.685656
4  22.089068  625.694309  10.994138  0.148265  0.676206
5  22.002451  622.056791  10.799970  0.144310  0.678955
6  22.256522  630.631702  10.981037  0.149471  0.671754
7  23.207989  683.265728  11.424316  0.152276  0.647399
8  22.680103  663.033506  11.162503  0.146828  0.663497
9  22.664077  657.397190  11.085727  0.145311  0.662915

RMSE     21.293357
MSE     579.563224
MAE      10.140989
MAPE      0.129148
R2        0.698510
RMSE     21.370282
MSE     579.450893
MAE      10.352163
MAPE      0.135814
R2        0.692253
dtype: float64